.searchType_line {
    border-bottom: 2px dashed #7f7e81;
  }
  .searchType_line_1 {
    border-bottom: 2px dashed #7f7e81;
  }
  .searchType_box {
    padding: 2.5rem 5rem;
    background-color: white;
    border-radius: 48px;
    border-left: 1px solid #d7d6d6;
    border-right: 1px solid #d7d6d6;
    border-top: none;
    border-bottom: 5px solid #848181;
  }
  
  .searchType_extra {
    padding: 2rem 0;
    border-bottom: 2px dashed #7f7e81;
  }

  @media only screen and (max-width: 519px) {
  
    .searchType_box {
      padding: 1.5rem 3.5rem;
    }

  }

  @media only screen and (max-width: 940px) {
    
    .searchType_line {
      flex-direction: column;
      gap: 24px;
    }
  }